<div class="about-container">
    <h2 class="about-heading">About Us</h2>
    <p class="about-description">
        Welcome to our food paradise! We are a team of passionate food enthusiasts who love to serve
        you the most delicious and mouth-watering dishes from around the world. With our commitment to
        quality and taste, we ensure that every bite you take is a delightful experience.
    </p>

    <h2 class="about-heading">Our Services Place and Timing</h2>
    <p class="about-description">
       We Provide Services in Banglore, Hyderabad and Tamil Nadu. And We are serving from 9AM to 12Pm
    </p>
    </div>